/*span style*/

.textstyle {
    color: black;
    display: flex;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-size: 90%;
}


/*shapes fot items*/

.hexagon-item {
    position: relative;
    width: 16vw;
    background-color: #C0C0C0;
    margin: 5.5vw 0;
    padding: 0 0 9.7vw;
    float: left;
    margin-left: 0.7vw;
    margin-bottom: 0.1%;
    cursor: pointer;
}

.hexagon-item:before, .hexagon-item:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
}

.hexagon-item:before {
    bottom: 100%;
    border-bottom: 5vw solid #C0C0C0;
}

.hexagon-item:after {
    top: 100%;
    width: 0;
    border-top: 5vw solid #C0C0C0;
}


/* hexagon grid*/

html, body {
    padding: inherit;
    margin: 0;
}

#wrapper {
    overflow: hidden;
    padding: 0 0 5vw;
    transform-origin: 0 0;
    width: 180vw;
}

.hexagon {
    position: relative;
    width: 16vw;
    background-color: #f2f2f2;
    margin: 5.5vw 0;
    padding: 0 0 9.7vw;
    float: left;
    margin-left: 0.7vw;
    margin-bottom: 0.1%;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 5vw solid #f2f2f2;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 5vw solid #f2f2f2;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin: 0 0 0 8.4vw;
    margin-right: 8.4vw;
}


/*.hexagon-item:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}*/
