.grid {
  /*=== calculation of dimensions===*/
  --margins: 0.1%;
  --d2-short: calc(100% / calc(var(--ncol) + 1/2) - calc(var(--margins) * 2));
  --sqrt3: 1.732050807568877;
  /*--a-radius: calc(var(--d2-short) / var(--sqrt3));*/
  --a-radius: calc(var(--d2-short) / var(--sqrt3));
  /*--a-radius: var(--d2-short);*/
  /*to appease jquery droppable, draggable must be ever so slightly smaller*/
  /*TODO fix this hackfix: https://github.com/maxheld83/accio/issues/94*/
  --droppablemargin: 0.05%;
  --d-long: calc(var(--a-radius) * 2);
  --verticalinset: calc(((var(--d-long) - var(--d2-short)) * 2) - calc(4.5 * var(--margins)));
  /*horizontal centering*/
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  /*other gradients: #2196f3, #f44336 or: #d3959b, #bfe6ba (best) or: #5fc3e4, #e55d87*/
  background: -webkit-linear-gradient(left, #bfe9ff, #ff6e7f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #bfe9ff, #ff6e7f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #bfe9ff, #ff6e7f);
  /* For Fx 3.6 to 15 */
  background: linear-gradient(left, #bfe9ff, #ff6e7f);
  /* Standard syntax (must be last) */
}

.hexagon {
  width: var(--d2-short);
  padding-top: var(--d-long);
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: white;
  float: left;
  margin-right: var(--margins);
  margin-left: var(--margins);
  position: relative;
  margin-top: calc(var(--verticalinset) * -1);
  z-index: 0;
  visibility: hidden;
}

.cell {}

.item {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  bottom: 0;
}

.droppable {}

.free {
  background-color: white;
  visibility: visible;
  opacity: 0.3;
  z-index: 9999;
}

.ui-draggable-dragging {
  position: absolute;
  bottom: auto;
  width: var(--d2-short);
}


/*.img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1%;
    margin-right: 1%;
  }
  */

.textstyle {
  color: black;
  font-family: sans-serif;
  top: 25%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  text-align: center;
  position: absolute;
  font-size: 0.9vw;
}

.ncol02>.cell:nth-child(-n + 2) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol02>cell:nth-last-child(-n + 2) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol02>.cell:nth-child(4n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol03>.cell:nth-child(-n + 3) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol03>cell:nth-last-child(-n + 3) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol03>.cell:nth-child(6n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol04>.cell:nth-child(-n + 4) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol04>cell:nth-last-child(-n + 4) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol04>.cell:nth-child(8n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol05>.cell:nth-child(-n + 5) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol05>cell:nth-last-child(-n + 5) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol05>.cell:nth-child(10n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol06>.cell:nth-child(-n + 6) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol06>cell:nth-last-child(-n + 6) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol06>.cell:nth-child(12n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol07>.cell:nth-child(-n + 7) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol07>cell:nth-last-child(-n + 7) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol07>.cell:nth-child(14n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol08>.cell:nth-child(-n + 8) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol08>cell:nth-last-child(-n + 8) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol08>.cell:nth-child(16n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol09>.cell:nth-child(-n + 9) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol09>cell:nth-last-child(-n + 9) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol09>.cell:nth-child(18n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol10>.cell:nth-child(-n + 10) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol10>cell:nth-last-child(-n + 10) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol10>.cell:nth-child(20n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol11>.cell:nth-child(-n + 11) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol11>cell:nth-last-child(-n + 11) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol11>.cell:nth-child(22n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol12>.cell:nth-child(-n + 12) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol12>cell:nth-last-child(-n + 12) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol12>.cell:nth-child(24n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol13>.cell:nth-child(-n + 13) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol13>cell:nth-last-child(-n + 13) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol13>.cell:nth-child(26n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol14>.cell:nth-child(-n + 14) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol14>cell:nth-last-child(-n + 14) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol14>.cell:nth-child(28n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*intend every n*2 items, HERE you can set whether to indent even or odd rows*/

.ncol15>.cell:nth-child(-n + 15) {
  margin-top: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol15>cell:nth-last-child(-n + 15) {
  margin-bottom: var(--margins);
}


/*give first/last n items a top/bottom margin*/

.ncol15>.cell:nth-child(30n + 1) {
  margin-left: calc(var(--d2-short) / 2 + 2 * var(--margins));
}


/*=== hack-fix to read in number of columns ===*/


/*necessary because css cannot read, and calc on number of siblings*/

.ncol01 {
  --ncol: 1;
}

.ncol02 {
  --ncol: 2;
}

.ncol03 {
  --ncol: 3;
}

.ncol04 {
  --ncol: 4;
}

.ncol05 {
  --ncol: 5;
}

.ncol06 {
  --ncol: 6;
}

.ncol07 {
  --ncol: 7;
}

.ncol08 {
  --ncol: 8;
}

.ncol09 {
  --ncol: 9;
}

.ncol10 {
  --ncol: 10;
}

.ncol11 {
  --ncol: 11;
}

.ncol12 {
  --ncol: 12;
}

.ncol13 {
  --ncol: 13;
}

.ncol14 {
  --ncol: 14;
}

.ncol15 {
  --ncol: 15;
}
