/*span style*/

.textstyle {
    color: black;
    font-family: 'Lato', sans-serif;
    display: flex;
    text-align: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    height: 144.34px;
}


/*shapes fot items*/

.hexagon-item {
    position: relative;
    width: 250px;
    height: 144.34px;
    background-color: #C0C0C0;
    margin: 72.17px 0;
    float: left;
    cursor: pointer;
}

.hexagon-item:before, .hexagon-item:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
}

.hexagon-item:before {
    bottom: 100%;
    border-bottom: 72.17px solid #C0C0C0;
}

.hexagon-item:after {
    top: 100%;
    width: 0;
    border-top: 72.17px solid #C0C0C0;
}


/* hexagon grid*/

html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow: hidden;
    padding: 0 0 5vw;
    transform-origin: 0 0;
    width: 140vw;
}

.hexagon {
    position: relative;
    width: 16vw;
    background-color: #33cc99;
    margin: 5.5vw 0;
    padding: 0 0 9.7vw;
    float: left;
    margin-left: 0.7vw;
    margin-bottom: 0.1%;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 5vw solid #33cc99;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 5vw solid #33cc99;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin: 0 0 0 8.4vw;
    margin-right: 8.4vw;
}
