# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
dist: trusty
cache:
  packages: yes
  directories:
    - $HOME/bin

warnings_are_errors: true

after_success:
  - Rscript -e "rsconnect::setAccountInfo(name='maxheld83', token='408C6B3684F6F34394BB48190BD3702B', secret='eKIr50V9L+1RsULuMLOSBOXqIrrPdRjH3itZqHw5')"

notifications:
  email: false
