/*span style*/

.textstyle {
    color: black;
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    padding: 5%;
}


/*shapes fot items*/

.hexagon-item {
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #C0C0C0;
    margin: 34.64px 0;
    float: left;
    cursor: pointer;
}

.hexagon-item:before, .hexagon-item:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.hexagon-item:before {
    bottom: 100%;
    border-bottom: 34.64px solid #C0C0C0;
}

.hexagon-item:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #C0C0C0;
}


/* hexagon grid*/

.hexagon {
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #f6f6f6;
    float: left;
    cursor: pointer;
    margin-top: 34px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 34.64px solid #f6f6f6;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #f6f6f6;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 61.3px;
}

#grid .hexagon.hover {
    background-color: #e0e0e0;
}
