/*Hexagon adapted from http://csshexagon.com*/

.hexagon {
  position: relative;
  width: 320px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
  cursor: pointer;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 89.49px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 89.49px solid #64C7CC;
}

/*Span Style*/
.textstyle {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 160%;
  display: flex;
  margin: 10px 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
